/* Estilos generales */
p {
  font-size: 18px;
  text-align: start;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Estilos especificos */
header {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .nav-link {
  color: #EA7E93;
  font-weight: 500;
  margin-top: 20px;
}

.btn, .btn-outline-light, .btn-primary {
  margin-top: 30px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  background-color: transparent;
  border-color: #EA7E93;
  color: #EA7E93;
}

.hero-section .bg-1 {
  background-image: url(../images/hero-section-home.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.padding-right {
  padding-right: 520px;
}

.padding-top350 {
  padding-top: 350px;
}

.padding-top250 {
  padding-top: 250px;
}

.padding-200 {
  padding-top: 200px;
  padding-bottom: 100px;
}

.smoothie-2 .bg-2 {
  background-color: #FCEBB5;
}
.smoothie-2 .bg-2 .bg-2-1 {
  background-image: url(../images/mezclamos-lo-mejor.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img {
  background-repeat: no-repeat;
  background-size: cover;
}

.colorpink {
  color: #EA7E93;
}

.bg-3 {
  background-color: #F9F9F9;
}
.bg-3 .bg-3-1 {
  background-image: url(../images/tenemos-una-historia.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFE3E9;
}
footer .rrss {
  display: inline-flex;
  list-style-type: none;
}
footer .padding-30 {
  padding-right: 30px;
  padding-left: 30px;
}
footer .padding-10 {
  padding-top: 10px;
}

.copyr {
  background-color: #EA7E93;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Smoothies*/
.hero {
  background-color: #EA7E93;
  padding: 30px;
  text-align: center;
}

.padding-top-title {
  padding-top: 100px;
}

.mango {
  background-image: url(../images/mango.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sandia {
  background-image: url(../images/sandia.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banano {
  background-image: url(../images/banano.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bosque {
  background-image: url(../images/bosque.jpg);
  padding: 280px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos Recetas */
.cards .card-container {
  text-align: center;
}
.cards .card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-color: white;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 85px;
}

.padding {
  padding-top: 180px;
}

.mangomintbig {
  background-image: url(../images/mangomintbig.png);
  padding: 300px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sandiafreshbig {
  background-image: url(../images/sandiafreshbig.png);
  padding: 300px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cocobongobig {
  background-image: url(../images/cocobongobig.png);
  padding: 300px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.frutibosque {
  background-image: url(../images/frutibosque.png);
  padding: 300px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-4 {
  background-image: url(../images/prefooter.jpg);
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilos Quienes somos */
.finca .historia {
  text-align: left;
}

/* Estilos Contacto */
.form {
  padding: 60px 250px;
}
.form .margin-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  p {
    text-align: left;
  }
  .btn-header {
    display: none;
  }
  .bg-1 {
    padding: 50px 0px;
    text-align: center;
  }
  .bg-2 {
    background-color: white;
  }
  .padding-right {
    padding-right: 20px;
  }
  .padding-top350 {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
  }
  .padding-top250 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .padding-200 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .img {
    text-align: center;
  }
  .logo {
    width: 160px;
  }
  .footer {
    text-align: center;
  }
  .padding-top-title {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
  }
  .mango, .sandia, .banano, .bosque {
    text-align: center;
    padding: 120px 0px;
  }
  .mangomintbig, .sandiafreshbig, .cocobongobig, .frutibosque {
    padding: 200px 0px;
  }
  .padding {
    padding: 40px 0px;
  }
  .bg-4 {
    padding: 50px 0px;
  }
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form {
    padding: 10px 20px;
  }
  .historia {
    padding-right: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .btn-header {
    display: none;
  }
  .bg-1 {
    padding: 20px 0px;
    text-align: left;
  }
  .mango, .sandia, .banano, .bosque {
    text-align: center;
    padding: 220px 0px;
  }
  .mangomintbig, .sandiafreshbig, .cocobongobig, .frutibosque {
    padding: 320px 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
