
$colorPrinciapl: #EA7E93;
$colorSecundario:white;


/* Estilos generales */

p{
    font-size: 18px; 
    text-align: start; 
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Estilos especificos */

header{
    
    padding-top: 10px;
    padding-bottom: 10px;

    .nav-link{
        color: $colorPrinciapl;
        font-weight: 500;
        margin-top: 20px;
    }
}

.btn {
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary{
    @extend .btn;
    background-color: transparent;
    border-color: $colorPrinciapl;
    color: $colorPrinciapl;
}

.btn-outline-light {
    @extend .btn;
}

@mixin padding280-noRepeat-cover {
    padding: 280px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section {

    .bg-1{
        background-image: url(../images/hero-section-home.jpg);
        @include padding280-noRepeat-cover;
    }
}

.padding-right {
    padding-right: 520px;
}

.padding-top350{
    padding-top: 350px;
}

.padding-top250{
    padding-top: 250px;
}

.padding-200{
    padding-top: 200px;
    padding-bottom: 100px;
}

.smoothie-2{
    .bg-2{
    background-color: #FCEBB5;
    
        .bg-2-1 {
            background-image: url(../images/mezclamos-lo-mejor.jpg  );
            @include padding280-noRepeat-cover; 
        }
    }
}

.img{
    background-repeat: no-repeat;
    background-size: cover;
}

.colorpink {
    color: $colorPrinciapl;
}

.bg-3{
        background-color: #F9F9F9;
    
        .bg-3-1 {
            background-image: url(../images/tenemos-una-historia.jpg);
            @include padding280-noRepeat-cover;
            }
    }

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFE3E9;

    .rrss{
        display: inline-flex;
        list-style-type: none;
    }

    .padding-30{
        padding-right: 30px;
        padding-left: 30px;
    }

    .padding-10 {
        padding-top: 10px;
    }

}

.copyr {
        background-color: $colorPrinciapl;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }


/*Smoothies*/

.hero {
    background-color: $colorPrinciapl;
    padding: 30px;
    text-align: center;
}

.padding-top-title {
    padding-top: 100px;
}

@each $fruta in mango, sandia, banano, bosque{
    .#{$fruta}{
        background-image: url(../images/#{$fruta}.jpg);
        @include padding280-noRepeat-cover;
    }
}


/* Estilos Recetas */

.cards {

    .card-container {
        text-align: center;
    }
    
    .card {
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border-color: white;
        margin: 0 auto;
        margin-top: 85px;
        margin-bottom: 85px;
    }    
}

.padding {
    padding-top: 180px;
}

@mixin padding300-noRepeat-cover {
    padding: 300px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@each $receta in mangomintbig, sandiafreshbig, cocobongobig, frutibosque {
    .#{$receta}{
        background-image: url(../images/#{$receta}.png);
        @include padding300-noRepeat-cover;
    }
}

.bg-4{
    background-image: url(../images/prefooter.jpg);
    padding: 200px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Estilos Quienes somos */

.finca {
    .historia {
        padding: 60px 0px;
        text-align: left;
    }
}


/* Estilos Contacto */

.form {
    padding: 60px 250px;

    .margin-title {
        margin-bottom: 20px;
    }
}


@media screen and (max-width:768px) {

    p {
    text-align: left;
    }
    
    .btn-header{
        display: none;
    }

    .bg-1 {
        padding: 50px 0px;
        text-align: center;
    }

    .bg-2 {
        background-color: white;
    }

    .padding-right {
        padding-right: 20px;
    }

    .padding-top350 {
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .padding-top250 {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .padding-200 {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .img {
        text-align: center;
    }

    .logo {
        width: 160px;
    }

    .footer {
        text-align: center;
    }

    .padding-top-title {
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    .mango, .sandia, .banano, .bosque {
        text-align: center;
        padding: 120px 0px;
    }

    .mangomintbig, .sandiafreshbig, .cocobongobig, .frutibosque {
        padding: 200px 0px;
    }

    .padding {
        padding: 40px 0px;
    }

    .bg-4 {
        padding: 50px 0px;

    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form {
        padding: 10px 20px;
    }

    .historia {
        margin-left: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px){
    
    .btn-header{
        display: none;
    }

    .bg-1 {
        padding: 20px 0px;
        text-align: left;
    }

    .mango, .sandia, .banano, .bosque {
        text-align: center;
        padding: 220px 0px;
    }

    .mangomintbig, .sandiafreshbig, .cocobongobig, .frutibosque {
        padding: 320px 0px;
    }

    }

